
# ---------- General ----------
NODE_ENV=development
APP_NAME=HBridge
APP_URL=http://localhost:3001
API_PORT=3001

# ---------- Database ----------
DATABASE_URL=postgresql://hbridge:hbridge_dev_password@localhost:5433/hbridge_db
# ---------- Redis ----------
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# ---------- JWT ----------
JWT_SECRET=dev-secret-change-in-production-min-32-chars-abcdef
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=dev-refresh-secret-change-me-min-32-chars-xyz
JWT_REFRESH_EXPIRES_IN=7d

# ---------- SMS (Africa's Talking) ----------
AT_USERNAME=sandbox
AT_API_KEY=atsk_111fbe74b4e5e5bf83ee51e74eaeff3537cb234b70dc0f3e579a94ed0d9fbf99d7b595d0
AT_SENDER_ID=HBRIDGE
OTP_HMAC_SECRET=aa309679bbe5a2ea7bf5932166065ef75d11ddf8c038349c2d04130953c3b5f8

# ---------- FHIR ----------
FHIR_BASE_URL=https://e-buzima.example.rw/fhir
FHIR_CLIENT_ID=
FHIR_CLIENT_SECRET=

# ---------- Web (Next.js) ----------
NEXT_PUBLIC_API_URL=http://localhost:3001
NEXT_PUBLIC_APP_NAME=HBridge

# ---------- Mobile (Expo) ----------
EXPO_PUBLIC_API_URL=http://localhost:3001